.order-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(4,9,30,.9),rgba(4,9,30,.9));
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 14;
}

.closeOrder{
    position: absolute;
    color: rgb(81, 70, 205);
    right: 1em;
    top: .5em;
    font-size: 2.5rem;
    font-weight: bolder;
    z-index: 25;
    cursor: pointer;
}

.order-container-content{
    max-height: 90vh;
    overflow-y: auto;
}

.order-container-content table {
    width: 80vw;
    border-collapse: collapse;
    color: white;
    text-align: center;
    position: relative;
  }
  
.order-container-content table td, table th {
border: none;
padding: 1em 2em;
text-align: center;
}


.order-container-content table th {
background: rgb(81, 70, 205);
border-bottom: none;
position: sticky;
top: 0;
}

  
.order-container-content table td:nth-child(2){
display: flex;
align-items: center;
padding-left: 15em;
gap: 2em;
}

.order-container-content table td span{
color: white;
}


.cancel-button {
background-color: #f44336;
color: white;
border: none;
padding: 1em 1.5em;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

.cancel-button:hover {
background-color: #d32f2f;
}

  
img {
height: 5em;
width: 5em;
}

@media only screen and (max-width: 700px){
    .order-container-content{
        width: 90%;
        overflow: auto;
    }
}