/* Product details */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    cursor: pointer;
}

.market-click{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(4,9,30,.92),rgba(4,9,30,.92));
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    top: 0%;
    right: 0%;
    z-index: 15;
}

.market-click-box{
    width: 80%;
    height: 85%;
    display: flex;
    gap: 3em;
    position: absolute;
}

.market-click-box-left{
    width: 100%;
    display: flex;
    gap: 3em;
}

.market-click-box-left img{
    width: 25em;
    height: 100%;
}

.box-left-content{
    display: flex;
}

.market-click-box-content{
    position: relative;
    width: 100%;
}

.market-click-box-content h1{
    border-bottom: 5px solid rgb(81, 70, 205);
    margin-bottom: .5em;
}

.market-click-box-content h3{
    margin-bottom: 1em;
}

.market-click-box-content i{
    margin-left: .3em;
    color: rgb(81, 70, 205);
}

.market-click-box-content p{
    text-indent: 2em;
    text-align: justify;
    margin-bottom: 1em;
}

.market-click-bottom{
   position: absolute;
}

.market-click-bottom button{
    border-radius: 0;
    padding: 1em 2em;
    margin-top: 1em;
}


.market-click-box-right{
    width: 35%;
    height: 100%;
    box-shadow: 0 0 2em rgb(81, 70, 205);
}

.market-click-box-right h2{
    text-align: center;
    margin: .5em 0 .5em 0;
}

.market-click-box-right h3,
.market-click-box-right i{
    font-size: .9rem;
}

.market-click-box-right img{
    width: 6.5em;
    height: 6.5em;
}

.other-product{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    position: relative;
    margin-bottom: .7em;

}

.other-product button{
    display: block;
    border-radius: 0;
    font-size: .6rem;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1400px){
    .market-click{
        overflow-y: scroll;
    }

    .market-click-box-left{
        flex-direction: column;
        width: 70%;
    }

    .market-click-box-left .market-click-box-content{
        padding-bottom: 5em;
    }

    .market-click-box-right{
        margin-top: 0;
    }

    .closebtn{
        padding-right: .5em;
    }
}

@media only screen and (max-width: 1200px){

    .market-click{
        overflow-y: scroll;
    }

    .market-click::-webkit-scrollbar {
        display: none;
      }


    .market-click-box-left img{
        width: 80%;
        margin: 0 auto;
    }

    .market-click-bottom{
        bottom: -5em;
    }

    .market-click-box-right{
        width: 60%;
        padding-bottom: 4em;
    }

}

@media only screen and (max-width: 900px){
    .market-click-box{
        flex-direction: column;
    }

    .market-click-box-left{
        width: 90%;
    }

    .market-click-box-right{
        margin-top: 6em;
    }
}

@media only screen and (max-width: 700px){
    .market-click{
        overflow-y: scroll;
    }


    .market-click-box-left{
        flex-direction: column;
    }

    .market-click-box-left img{
        width: 100%;
    }

    .market-click-box-right{
        width: 100%;
    }

}